//
//  Common.xcconfig
//  SwiftArchitecture
//
//  Created by 姚海涛 on 2018/2/27.
//  Copyright © 2018年 yaohaitao. All rights reserved.
//

// 通用环境配置

// MARK: - 目录位置
APP_DIR = $(SRCROOT)/SwiftArchitecture
RESOURCES_DIR = ${APP_DIR}/Resources

// MARK: - 文件位置
OBJECTIVEC_BRIDGING_HEADER = ${RESOURCES_DIR}/SwiftArchitecture-Bridging-Header.h
INFO_PLIST_FILE = ${RESOURCES_DIR}/Info.plist
