//
//  Common.xcconfig
//  SwiftArchitecture
//
//  Created by 姚海涛 on 2018/2/27.
//  Copyright © 2018年 yaohaitao. All rights reserved.
//

// 通用环境配置

// MARK: - 目录位置
APP_DIR = $(SRCROOT)/SwiftArchitecture
RESOURCES_DIR = ${APP_DIR}/Resources

// MARK: - 文件位置
OBJECTIVEC_BRIDGING_HEADER = ${RESOURCES_DIR}/SwiftArchitecture-Bridging-Header.h
INFO_PLIST_FILE = ${RESOURCES_DIR}/Info.plist

// MARK: - 配置

// 开启静态分析器
RUN_CLANG_STATIC_ANALYZER = YES
CLANG_STATIC_ANALYZER_MODE = deep
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = shallow


OTHER_SWIFT_FLAGS = $(inherited) ${PODS_FLAGS} ${OPEN_WARNINGS_AS_ERRORS} -D${CONFIG_FLAG}
// 把所有的警告当作错误来处理
OPEN_WARNINGS_AS_ERRORS = -warnings-as-errors
// Pods flags
PODS_FLAGS = "-D" "COCOAPODS"
