//
//  Common.xcconfig
//  SwiftArchitecture
//
//  Created by 姚海涛 on 2018/2/27.
//  Copyright © 2018年 yaohaitao. All rights reserved.
//

// 共通の配置

// MARK: - ディレクトリのロケーションの設定
APP_DIR = $(SRCROOT)/SwiftArchitecture
RESOURCES_DIR = ${APP_DIR}/Resources

// MARK: - 上記の変数を利用して、ファイルの位置を設定
OBJECTIVEC_BRIDGING_HEADER = ${RESOURCES_DIR}/SwiftArchitecture-Bridging-Header.h
INFO_PLIST_FILE = ${RESOURCES_DIR}/Info.plist

// MARK: - 環境配置

// 静的コード解析を可能にする
RUN_CLANG_STATIC_ANALYZER = YES
CLANG_STATIC_ANALYZER_MODE = deep
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = shallow


OTHER_SWIFT_FLAGS = $(inherited) ${PODS_FLAGS} ${OPEN_WARNINGS_AS_ERRORS} -D${CONFIG_FLAG}
// 警告に対応する方法
OPEN_WARNINGS_AS_ERRORS = -warnings-as-errors
// Pods flags
PODS_FLAGS = "-D" "COCOAPODS"
