//
//  Production.xcconfig
//  SwiftArchitecture
//
//  Created by 姚海涛 on 2018/2/27.
//  Copyright © 2018年 yaohaitao. All rights reserved.
//

#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-SwiftArchitecture/Pods-SwiftArchitecture.release(production).xcconfig"

CONFIG_FLAG = PRODUCTION
APP_DISPLAY_NAME = SA(Production)
APP_BUNDLE_IDENTIFIER = yaohaitao.production
